/**
 * @author Marenin Alex
 * October 2013
 */

html {
    height: 100%;
}

body {
    font-family: 'Droid Sans', sans-serif;
    height: 100%;
    background: transparent url(../img/bg.jpg) center center no-repeat;
}

#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

#header {
    height: 100px;
}

#wrap .row.container {
    margin: 0 auto;
}

.super-header {
    font-size: 54px;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 4px 12px;
    border-radius: 5px;
    text-align: center;
}

.dark-box {
    background-color: rgba(30, 30, 30, 0.3);
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, .2);
       -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, .2);
            box-shadow: 0 1px 5px rgba(0, 0, 0, .2);
    color: #d0d0d0;
}

.form-container {
    margin: 0 auto;
    padding: 10px;
    border-radius: 5px;
}

#footer {
    height: 60px;
    background-color: rgba(30, 30, 30, 0.3);
    color: #d0d0d0;
}

#footer .container {
    line-height: 60px;
}

#video {
    display: none;
    position: absolute;
    min-height: 300px;
    height: 100%;
    width: 100%;
}

#buttons {
    display: none;
}

#joinRoomForm {
    display: none;
}

#roomName {
    background-color: rgba(255, 255, 255, 0.8);
}

.has-error #roomName {
    background-color: rgba(255, 210, 220, 0.85);
}


button#join {
    width: 35%;
    margin-right: 15px;
}

button#rejectJoin {
    width: 35%;
}


.centered {
    text-align: center;
}

#remote-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

#local-video {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 240px;
    height: 160px;
    z-index: 2;
    background-color: grey;
}

#roomInfo {
    position: absolute;
    top: 180px;
    right: 10px;
    width: 240px;
    z-index: 3;
    background-color: grey;
}

#roomInfo input {
    opacity: 0.6;
    border: 0;
    width: 100%;
}

.fat-border {
    border: 5px solid rgba(0, 0, 0, .4);
    border-radius: 4px;
}