// @author Marenin Alex
// October 2013

!!! 5
html
    head
        title Video Chat
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Droid+Sans:400,700')
        link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/4.0.1/css/font-awesome.css')
        link(rel='stylesheet', href='/public/css/bootstrap.css')
        link(rel='stylesheet', href='/public/css/style.css')
        script(src='/public/js/jquery.min.js')
        script(src='/public/js/socket.io.min.js')
    body
        #wrap
            #video
                #roomInfo.form-group.fat-border
                    input#roomInfoName.input-lg(type="text")
                video#local-video.fat-border(autoplay, muted)
                #remote-videos.fill-container
            #mediaType.dark-box.btn-group-vertical(data-toggle='buttons')
                label.btn.btn-success(data-toggle='tooltip', data-placement='right', data-original-title='Audio Only')
                    i.fa.fa-lg.fa-microphone
                    input(type="radio", name="media", value='audio', id="mediaAudio")
                label.btn.btn-success(data-toggle='tooltip', data-placement='right', data-original-title='Video & Audio').active
                    i.fa.fa-lg.fa-video-camera
                    input(type="radio", name="media", value='audio video', id="mediaAudioVideo", checked)
            //
                label.btn.btn-success(data-toggle='tooltip', data-placement='right', data-original-title='Screen')
                    i.fa.fa-lg.fa-desktop
                    input(type="radio", name="media", value='screen', id="mediaScreen")
            #forms.row.container
                .col-sm-3
                .col-sm-6
                    #buttons.dark-box.form-container
                        button#newRoom.btn.btn-success.btn-lg.btn-block New Room
                        button#openJoinRoomForm.btn.btn-success.btn-lg.btn-block Join Room
                    #joinRoomForm.dark-box.form-container
                        .form-group
                            label(for="roomName") Room Name
                            input#roomName.form-control.input-lg(type="text", placeholder="Enter Room Name")
                        .centered
                            button#join.btn.btn-success.btn-lg Join
                            button#rejectJoin.btn.btn-danger.btn-lg Cancel
        #footer
            .container ©
                a(href='https://github.com/ioncreature', target='_blank') Alexander Marenin
                //script(src='https://seal.thawte.com/getthawteseal?host_name=lety.in&amp;size=M&amp;lang=en')
        script.
            var config = {
                socketUrl: '#{socketUrl}',
                iceServers: [{url: 'stun:stun.l.google.com:19302'}],
                mediaType: 'audio video',
                roomName: '#{typeof roomName != 'undefined' ? roomName : ''}',
                isPublic: #{typeof needAuth != 'undefined' ? !!needAuth : false}
            };

            // init tooltips
            $( function(){
                $( '#mediaType > label' ).tooltip( {container: 'body'} );
            });
        script(src='/public/js/bootstrap.min.js')
        script(src='/public/js/utils.js')
        script(src='/public/js/room.js')
        script(src='/public/js/ui.js')
