// @author Marenin Alex
// October 2013

!!! 5
html
    head
        title Video Chat
        link(href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700', rel='stylesheet', type='text/css')
        link(rel='stylesheet', href='public/css/bootstrap.css')
        link(rel='stylesheet', href='public/css/style.css')
        script(src='public/js/jquery.min.js')
        script(src='public/js/socket.io.min.js')
    body
        #video
            #roomInfo.form-group.fat-border
                input#roomInfoName.input-lg(type="text")
            audio#remote-audio
            video#remote-video
            video#local-video.fat-border

        #wrap
            #header
            .row.container
                .col-sm-3
                .col-sm-6
                    #buttons.dark-box.form-container
                        button#newRoom.btn.btn-success.btn-lg.btn-block New Room
                        button#openJoinRoomForm.btn.btn-success.btn-lg.btn-block Join Room
                    #joinRoomForm.dark-box.form-container
                        .form-group
                            label(for="roomName") Room Name
                            input#roomName.form-control.input-lg(type="text", placeholder="Enter Room Name")
                        .centered
                            button#join.btn.btn-success.btn-lg Join
                            button#rejectJoin.btn.btn-danger.btn-lg Cancel
        #footer
            .container ©
                a(href='https://github.com/ioncreature', target='_blank') Alexander Marenin
        script.
            $( function(){
                var buttonsContainer = $( '#buttons' ),
                    videoContainer = $( '#video' ),
                    joinRoomForm = $( '#joinRoomForm' ),
                    buttonJoin = $( '#join' ),
                    roomName = $( '#roomName' ),
                    roomInfoName = $( '#roomInfoName' ),
                    localStreamShowed = false;

                var remoteVideo = document.getElementById('remote-video'),
                    localVideo = document.getElementById('local-video'),
                    remoteAudio = document.getElementById('remote-audio');

                buttonsContainer.fadeIn();

                var room = new Room({
                    socketUrl: '#{socketUrl}',
                    autoConnect: true,
                    iceServers: [{url: 'stun:stun.l.google.com:19302'}]
                });

                room.on( 'connected', function(){
                    console.log( 'connected' );
                    // return;
                    room.streamManager.getLocalStream( StreamManager.MEDIA_VIDEO, function( error, stream ){
                        if ( error )
                            alert( 'Error happened when tried to catch local media stream' );
                        else
                            room.streamManager.attachStream( stream, localVideo );
                    });
                });

                room.on( 'remoteStream', function( data ){
                    console.log( 'remoteStream', data );
                    var stream = data.stream;
                    room.streamManager.attachStream( stream, remoteVideo );
                });

                room.on( 'peerConnected', function( peer ){
                    console.log( 'peerConnected', peer.id );
                    setTimeout( function(){
                        console.log( 'sendVideo' );
                        peer.sendVideo();
                    }, 500 );
                });

                $( '#newRoom' ).click( function(){
                    buttonsContainer.fadeOut();
                    videoContainer.fadeIn();
                    room.createRoom( function( res ){
                        if ( res.error )
                            alert( error );
                        else
                            roomInfoName.val( room.name );
                    });
                });
                $( '#openJoinRoomForm' ).click( function(){
                    buttonsContainer.fadeOut( 300, function(){
                        joinRoomForm.fadeIn();
                    });
                });

                $( '#rejectJoin' ).click( function(){
                    joinRoomForm.fadeOut( 200, function(){
                        buttonsContainer.fadeIn();
                        roomName.trigger( 'change' );
                    });
                });

                buttonJoin.click( function(){
                    var name = roomName.val().trim();
                    if ( name )
                        room.joinRoom({ name: name }, function( res ){
                            if ( res.error )
                                alert( res.error );
                            else {
                                joinRoomForm.fadeOut();
                                videoContainer.fadeIn();
                                roomInfoName.val( room.name );
                            }
                        });
                    else
                        roomName.closest( '.form-group' ).addClass( 'has-error' );
                });

                roomName.on( 'keydown keyup change', function(){
                    roomName.closest( '.form-group' ).removeClass( 'has-error' );
                });
            });
        script(src='public/js/bootstrap.min.js')
        script(src='public/js/main.js')
